@font-face {
font-family: 'Yesterday Dream';
font-style: normal;
font-weight: bold;
src: local('Yesterday Dream'), url('YesterdayDream.otf') format('otf');
}

h1{
	font-family: "Yesterday Dream";
	font-weight: 200;
	color:black;
}

.homepage{
	font-family: "Yesterday Dream";
	font-weight: bold;
	color:black;
}